html, body {
	max-width: 95%;
	overflow-x: hidden;
}

@media screen and (max-width: 740px) {
	.sidenav {
		overflow: hidden;
		background-color: white;
		position: relative;
	}

	.sidenav #myLinks {
		display: none;
	}

	.sidenav a {
		padding: 10px 10px;
		text-decoration: none;
		font-family: 'Major Mono Display', monospace;
		font-size: 20px;
		color: black;
		display: block;
		text-align: center;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.main {
		margin-left: 10px;
		padding: 70px 30px 30px 30px;
	}
}

@media screen and (min-width: 741px) {
	.sidenav {
		margin: 0;
		position: absolute;
		top: 30%;
		-ms-transform: translateY(-30%);
		transform: translateY(-30%);

		width: 200px;
		position: fixed;
		background-color: white;
		overflow-x: hidden;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.sidenav a {
		padding: 30px 8px 30px 100px;
		text-decoration: none;
		font-family: 'Major Mono Display', monospace;
		font-size: 20px;
		color: black;
		display: block;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.main {
		margin-left: 300px;
		padding: 70px 30px 30px 30px;
	}
}

div.aProject {
	margin-top: 50px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-family: 'Major Mono Display', monospace;
	font-size: 20px;
}

h4 {
	font-family: 'Major Mono Display', monospace;
	font-size: 14px;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	mix-blend-mode: difference;
}

a {
	color: black;
}

.backgroundDiv {
	width = "100%";
	background-image: url("photos/1.jpg");
}
