<!DOCTYPE html>
<html>

<head>
  <title>A.Toydemir</title>
   <link rel = "stylesheet" type = "text/css" href = "css/style.css" />
   <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
   <meta name=”viewport” content=”width=device-width, initial-scale=1″>

</head>

<body>
<!-- body -->
<div class="main">
  <h1>Welcome to the website of Ada Toydemir!</h1>
  <div class="border">
    <p>I am a rising junior studying Computer Science at the University of Southern California. I spend the majority of my time and energy working to develop and learn about tech for the music industry. On campus I run a student organization, Corpus Callosum, dedicated to exploring and showcasing the intersection of art and technology. I am also in leadership role for our schools AI club: Center for AI in Society. <br><br>As a reference, I am comfortable with C++, Python, Keras, Javascript, OpenGL, HTML, and Maximilian Real Time Audio, and I am currently learning p5.js, JUCE, CSS, and Unity Development.</p>
  </div>
  <div class="border">
    <p>I am currently leading two exciting projects. Neural Sound Resynthesis is a hardware synthesizer which uses an AI optimization algorithm to recreate samples in the parameter space of the synth. This is useful both for beginners learning synthesis and also for musicians who don't want to lose track of their idea while trying to recreate sounds. Track progress on the project with our <a href="https://github.com/succculent/resynth">GitHub</a>. Sample Generation is an algorithm which generates new samples based on an input set of samples. This uses an encoder-decoder network and combines encodings of different samples to create something completely new which has features of the input samples. While we are taking a break on this project for Summer 2020, progress will continue in Fall 2020: <a href="https://github.com/succculent/SampleGeneration">Our GitHub</a>.</p>
  </div>
  <div class="border">
    <p>In my free time I am a photographer and produce/DJ House and Techno music under the name Simulacrum. I love plants.</p>
  </div>
</div>
</body>

</html>